
/*****Responsive-css*****************/
@media screen and (min-width:0px) and (max-width:1200px) {.food-space1, .food-space2, .food-space3 {background-size:100% 100%;}
.food-space1::before, .food-space2::before, .food-space3::before {right: -19px;}
.food-space1::after, .food-space2::after, .food-space3::after {left: -19px;}

.col-md-5.padd0.login-left {
    width: 41.66666667%;
}
.col-md-7.padd0.login-right {
    width: 58.33333333%;
}
}

@media only screen and ( max-width: 1199px ){
.border-bottom-dashed .border-right:last-child {
    border-right: none;
    display: none;
}
.tell-friend {
    padding: 10px 15px;
    font-size: 13px;
}
input.like.next.accept {
    padding: 10px 12px;
    margin: 0 0px;
}
.img-section .upload-file-button {
    max-width: 80%;
}
img.login-image {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    min-height: 515px;
}
.login-image.signup-img {
    min-height: 506px;
}
.pull-right.number-of-comment {
    float: left !important;
}
.padd0.bordered button.purchase {
    padding: 8px 8px;
    font-size: 13px;
    line-height: 16px;
}
.one-month-heading::before {
    border-left: 72px solid transparent;
    border-right: 72px solid transparent;
    border-top: 15px solid #81c8bd;
}
.padd0.bordered:hover .one-month-heading::before{
    border-top: 15px solid #F0CE49;
}
.owl-pagination {
    bottom: -100px;
    right: -25px;
}
.crausels-top-mothrs {
    margin-left: 0;
}
.padd0.login-left {
    width: 41.66666667%;
}
.padd0.login-right {
    width: 58.33333333%;
}
}
@media only screen and ( max-width: 991px ){
    .one-month-heading::before {
    border-left: 155px solid transparent;
    border-right: 160px solid transparent;
    border-top: 17px solid #81c8bd;
    margin-top: -1px;
}
.padd0.bordered:hover .one-month-heading::before{
    border-top: 17px solid #F0CE49;
}
.border-bottom-dashed .border-right:last-child {
    border-right: none;
    display: block;
}
img.login-image {
    display: none;
}
.login-pages {
    margin: 30px 0;
}
.pos-reltve {
    position: relative;
    padding: 12px;
}
.footer-form {
    background: #7EC7BE;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}
.footer-form {
	position: relative;
	top: 20px;
}
.login-image {
    display: none;
}
.newsletter {
    background: #F0CE49;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    margin: 18px 0;
    height: auto;
}
.col-md-test .changepsswrd-tabs img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}
.newsletter .text-box{
	margin-bottom: 12px;
    text-align: center;
}
.news-content p {
	text-align: left;
}
.news-content {
    padding: 20px;
}
#top-stories {
    background: background: url(../images/footerbg.jpg);
    width: 100%;
    height: auto;
    position: relative;
    background-repeat: repeat;
}
.frame {
    margin: 30px auto;
    background-position: center;
}
.frame figure{
	text-align: center;
}
.item {
    text-align: center;
}
.border-btom {
    margin: 10px auto;
}
.right-side {
    margin: 45px 0;
}
.frame2 {
    background: transparent;
    background-repeat: repeat;
    position: relative;
    margin: 0;
    padding: 12px;
    background-position: left;
    height: 300px;
}
.frame2 figure {
    margin: auto;
    width: 240px;
    height: 262px;
    overflow: hidden;
    border: 15px solid rgba(70, 200, 215 , 0.4);
    right: 0;
    left: 15px;
}
.frame2 figure img {
    width: 100%;
    border: 8px solid rgba(70, 200, 215 , 0.8);
}
#our-vision {
    height: auto;
}
.left-side.owl-theme {
    margin: 12px;
}
.col-x {
	float: left;width: 33%;
}
.food-content {
	padding: 75px 20px 20px;
}
.col-md-5.col-sm-12.pull-right-img {
    display: none;
}
.food-space1, .food-space2, .food-space3 {
    background-size: auto 100%;
    margin: 0;
    margin-bottom: 16px;
}
.col-x {
	float: left;
	margin: 0 0 20px;
	width: 100%;
}
#about-us, .yellow-line {
	height: auto;
}
.yellow-line {
	background: transparent none repeat scroll 0 0;margin-top: 13px;
}
.food-space1::before, .food-space2::before, .food-space3::before {
	background: transparent none repeat scroll 0 0;
}
.food-space1::after, .food-space2::after, .food-space3::after {
	background: transparent none repeat scroll 0 0;
}
.navigation-tab-part {
    margin-bottom: 15px;
}
.right-sec.child-profile {
    display: block;
    background-position: center;
    background-size: cover;
}
.childrens-slider {
    position: relative;
    top: 15px;
    margin-bottom: 12px;
}
.childrens-slider .item {
    margin: auto;
}
.bodr-btom {
    border-bottom: none;
}
.green-back {
    margin-bottom: 0px;
}
.right-sec {
    background-position: center;
    background-size: cover;
}
.row.mar-botom15px .width-set-responsve:last-child{
    display: none;
}
.head-navigation ul li {
    margin: 0 15px;
}
.img-section .upload-file-button {
    margin: 0 auto;
    background-position: center;
}
.breadcrumb ul{
    text-align: center;
}
.my-message-img {
    margin: 12px 0 0px;
    width: 55px;
    height: 50px;
}
.changepsswrd-tabs ul li {
    display: inline-block;
    margin-right: 3px;
}
.refine-your-search h2::after {
    width: 580px;
}
.upload-postion {
    margin: 15px 0;
}
.childrens-slider{
    left: 0;
    clear: both;
}
.owl-pagination {
    bottom: 0px;
    right: 0px;
}
.padd0.login-right {
    margin: auto;
}
.col-md-7.padd0.login-right {
    width: 100%;
}
.paddl0{
    padding-left: 15px;
}
}
@media only screen and ( max-width: 767px ){
    .image-gallery-sec figure img {
    width: 100%;
}
.row.mar-botom15px .width-set-responsve:last-child{
    display: block;
}
.width-set-responsve{
    margin-bottom: 12px;
}
    .buttons i {
        display: block;
    }
    .head-navigation {
        display: none;
    }
    .buttons i {
    	display: block;
    }
.head-navigation {
	display: none;
}
/*.food-content {
	padding: 53px 20px 34px;
}*/

.food-content > figure {
	min-height: 73px;
}
.footer-form form {
    padding: 15px;
}
#top-stories .right-side p {
    line-height: 30px;
    text-align: justify;
}
.border-btom {
    max-width: 25%;
}
.border-right {
    border-right: none;
}
.tab-content {
    margin: 30px 0 1px;
}
.tabs.accounts-settngs {
    margin: 10px;
}
.border-bottom-dashed {
    border-bottom: none;
}
.childrens-slider .item {
    margin: auto;
}
.owl-prev {
    left: -12px;
}
.owl-next {
    right: -20px;
}
.image-gallery-sec .mar-botom15px {
    margin-bottom: 0px;
}
.connect-wrap {
    margin: 22px 0 20px;
}
.left-sec {
    height: 430px;
}
.left-sec h1 {
    margin: 7px 0;
}
.left-sec .mart30px {
    margin-top: 0px;
}
.left-sec p {
    margin: 6px 0;
}
.right-sec {
    height: 240px;
}
.right-sec.child-profile {
    height: 240px;
}
div#login-content {
    margin-bottom: 20px;
}
.mymessage-heading ul {
    float: left;
}
.mymessage-heading ul li {
    padding: 8px 0;
}
.mymessage-heading h3 {
    padding: 5px 0;
}
.col-lg-1.col-md-1.col-sm-1.col-xs-2.imgarea {
    width: 100%;
}
.comnt-width .comment-contents {
    padding: 15px;
}
#landin-page-form {
    margin: 50px 0 20px;
}
.forgot-psswrd {
    margin: 0 10px;
    padding: 5px;
    text-align: center;
}
.changepsswrd-tabs ul li {
    margin-right: 10px;
}
.min-heights .changepsswrd-tabs {
    text-align: center;
    padding: 15px 0;
/*    border: 1px solid #f5f3f3;*/
    margin-bottom: 12px;
    /*border-radius: 15px;
    box-shadow: 1px 1px 3px #f2f2f2;*/
}
.tabs-white-back .changepsswrd-tabs {
    text-align: center;
    padding: 15px 0;
    border: none;
    margin-bottom: 0px;
    border-radius: 0px;
    box-shadow:none;
}
.send-button {
    position: absolute;
    right: 14px;
    top: 0px;
}
#banner-video {
    height: 700px;
}
.tabs-top-heading h2{
    line-height: 20px;
}
.background-login {
    margin: 0 40px;
}
}
@media only screen and ( max-width: 680px ){
    .one-month-heading::before {
    border-left: 138px solid transparent;
    border-right: 140px solid transparent;
    border-top: 17px solid #81c8bd;
}
.padd0.bordered:hover .one-month-heading::before{
    border-top: 17px solid #F0CE49;
}
.owl-pagination {
    display: none;
}
}
@media only screen and ( max-width: 640px ){
.col-md-test.col-sm-3.col-xs-6.width-set-responsve{
    width: 33%;
}
.icons-search h3 {
    font-size: 16px;
}
h4.today-chat {
    max-width: 25%;
}
.one-month-heading::before {
    border-left: 89px solid transparent;
    border-right: 89px solid transparent;
    border-top: 15px solid #81c8bd;
}
.padd0.bordered:hover .one-month-heading::before{
    border-top: 15px solid #F0CE49;
}
.col-md-3.col-sm-6.col-xs-6.width-subscription.paddr0 .padd0.bordered {
    width: 180px;
    margin: 10px auto;
}
footer.martop20{
    margin-top: 0px !important;
}
#banner-video {
    height: 700px;
}
.row.texts {
    background: #D9F0ED;
    padding: 0px;
    margin: 0px 0px 15px;
}
.row.texts p label {
    line-height: 24px;
    font-size: 13px;
}
}
@media only screen and ( max-width: 530px ){
	.subscrive-width{
		width: 100%;
	}
.subscribe-now.pull-right {
    float: none !important;
    margin-top: 0px;
    margin: auto;
}
.width50{
	width: 50%;
}
.footer-list {
    margin: 40px 0 0;
    text-align: center;
}
.pull-right-img{
	float: none;
}
.vision-side-list{
	width: 100%;
}
#top-stories .right-side h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
#our-vision .border-btom {
    max-width: 20%;
 }
 .baneer-content p {
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    font-family: 'Raleway', sans-serif;
    margin: 0 5px;
    letter-spacing: 1px;
    margin-bottom: 40px;
    font-weight: 600;
    text-align: justify;
}
.footer-list.inner-footer {
    text-align: left;
}
.banner-buttons ul li {
    margin:0 2px; 
}
.one-month-heading::before {
    border-left: 88px solid transparent;
    border-right: 88px solid transparent;
    border-top: 15px solid #81c8bd;
}
.padd0.bordered:hover .one-month-heading::before{
    border-top: 15px solid #F0CE49;
}
.col-md-3.col-sm-6.col-xs-6.width-subscription.paddr0 .padd0.bordered {
    width: 180px;
    margin: 10px auto;
}
#banner-video {
    height: 600px;
}
.live-chat.click-person.live-chat-on{
    right: 47px !important;
    z-index: 9999999;
}
.subscrive-width ul {
    clear: both;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 0px;
}
}
@media only screen and ( max-width: 480px ){
    .back-border h4 {
    font-size: 12px;
    padding: 16px 3px;
}
.back-border p {
    padding: 15px 10px;
    font-size: 13px;
}
.newsletter {
    text-align: center;
}
.news-content p {
    text-align: center;
}
.col-md-test.col-sm-3.col-xs-6.width-set-responsve {
    width: 50%;
}
.follow-us ul li {
    margin: 0 14px 0 0;
}
.follow-us {
    margin: 15px 0 25px;
}
.footer-list {
    margin: 10px 0 0;
    text-align: center;
}
.left-sec h1 {
    margin: 7px 0;
    font-size: 20px;
}
#landin-page-form .breadcrumb ul li {
    margin-right: 2px;
    padding: 9px 6px;
}
.col-md-test {
    border: none;
}
.upload-file-button {
    max-width: 100%;
}
h4.today-chat {
    max-width: 35%;
}
.inner-footer ul li {
    margin-bottom: 8px;
}
.footer-list ul li {
    line-height: 25px;
}
.mymessage-heading h3 {
    padding: 5px 0;
    text-align: center;
}
.width-subscription{
    width: 100%;
}
.col-md-3.col-sm-6.col-xs-6.width-subscription.paddr0 .padd0.bordered {
   width: 210px;
   margin: 0 auto 10px;
}
.one-month-heading::before {
    border-left: 106px solid transparent;
    border-right: 113px solid transparent;
    border-top: 15px solid #81c8bd;
    left: -8px;
}
}
@media only screen and ( max-width: 430px ){
.frame {
    background: transparent;
    width: 100%;
    height: auto;
    background-repeat: repeat;
    margin: 20px auto 0;
    padding: 0;
    text-align: center;
}
.tell-friend {
    padding: 12px 7px;
    font-size: 11px;
    letter-spacing: 0px;
}
.frame img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 12px solid rgba(250,250,250,0.2);
    background: rgba(129, 200, 189, 0.2);
}
.food-space1, .food-space2, .food-space3 {
	height:auto
}
.food-content p {
    padding: 20px;
}
.col-lg-3.col-md-4.col-sm-3.col-xs-6.border-right {
    width: 100%;
}
.banner-buttons ul li {
    margin: 0 2px;
    display: block;
    margin-bottom: 8px;
}
.banner-buttons ul li .like {
    width: 100%;
}
.banner-buttons ul{
    float: left;
}
.banner-buttons {
    left: 12px;
}
.width-set-responsve {
    margin-bottom: 12px;
    width: 100%;
}
.col-md-test.col-sm-3.col-xs-6.width-set-responsve {
    width: 100%;
}
.image-gallery-sec.search-page .col-md-4.col-sm-4.col-xs-6.width-responve {
    margin-bottom: 15px;
    width: 100%;
}
.image-gallery-sec.search-page .icons-search h3 {
    font-size: 20px;
}
h4.today-chat {
    max-width: 40%;
}
.food-content {
    padding: 50px 11px 19px;
}
}
@media only screen and ( max-width: 360px ){
.food-content p {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 25px 0px 0px 15px;
    line-height: 26px;
}
}















