
@import url(https://fonts.googleapis.com/css?family=Raleway:600,400);
* {
    margin: 0;
    outline: 0 none;
}

.clr {
    clear: both;
}

.clear {
    clear: both;
}

.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
}

* html .clearfix {}

:first-child + html .clearfix {}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, a selectbox1ress, code, del, dfn, em, img, q, dl, dt, selectbox1, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    border: 0 none;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    vertical-align: baseline;
}

article, aside, dialog, figure, figcaption, footer, header, hgroup, nav, section {
    display: block;
}
a {
    color: #38b7a3;
    text-decoration: none;
}
a img {
    border: medium none;
}
a:hover{
    transition:all 300ms ease-in-out;
    -webkit-transition:all 300ms ease-in-out;
    -moz-transition:all 300ms ease-in-out;
    -ms-transition:all 300ms ease-in-out;
    -o-transition:all 300ms ease-in-out;
}
a:focus{
    text-decoration:none;
}
/*table {
    border-collapse: separate;
    border-spacing: 0;
}*/

caption, th, td {
    font-weight: normal;
    text-align: left;
}

table, td, th {}

blockquote::before, blockquote::after, q::before, q::after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

:focus {
    outline: 0 none;
}

ins {}

del {
    text-decoration: line-through;
}

button::-moz-focus-inner {
    border: 0 none;
}
h5.account-detail {
    padding: 10px 0px 10px 10px;
    background-color: #60708E;
    color: #fff;
    line-height: 14px;
    display: block;
}
body {
    background: #fff;
    color: #5a5d63;
    font-size: 13px !important;
    line-height: 1;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    overflow-x:hidden;
    
}

.clear {
    clear: both;
    font-size: 0;
    height: 0;
}
ul {
    list-style: outside none none;
    padding: 0;
}

img {
    border: 0 none;
    height: auto;
    max-width: 100%;
}

a img {header
    border: medium none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
a:focus {
    outline: none !important;
    outline-offset:none !important;
}
.martop20{
    margin-top: 50px !important;
}
.mar50px{
    margin: 58px 0;
}

header {
    background: #fff;
    position: relative;
    z-index: 99 ;
    padding: 3px 0;
}
header::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 36px;
    z-index: 99;
    background: url(../images/head-shadow.png);
    top: 100%;
}
header.home::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 36px;
    z-index:99;
    background: url(../images/head-shadow.png);
    top: 100%;
}
ul.home-page-nav {
    margin-top: 10px;
}
.logo {
    margin: 17px 0;
}
.head-navigation ul{
    float: right;
}
.head-navigation {
    margin: 14px 0;
}
.head-navigation ul li {
    display: inline-block;
    margin: 0 19px;
}
.head-navigation ul li:last-child{
    margin-right: 0px;
}
.head-navigation ul li img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 5px;
}
.head-navigation ul li a {
    color: #555;
    font-size: 14px;
    font-weight: 400;
}
.sign-up {
    background: #56be7f;
    border-radius: 20px;
    padding: 4px 23px;
    color: #fff !important;
    font-size: 14px !important;
}
#banner-video {
    background: url(../images/banner.jpg);
    width: 100%;
    height: 790px;
    position: relative;
    margin-top: 19px;
    background-position: center;
    background-attachment: fixed;
}
/*#banner-video::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 30px;
    z-index: 1;
    background: url(../images/strip.png);
    bottom: 96.6%;
}*/
.baneer-content {
    text-align: center;
    margin-top: 20.9%;
}
.baneer-content p {
    color: #fff;
    font-size: 21px;
    line-height: 38px;
    font-family: 'Raleway', sans-serif;
    margin: 0 20px;
    letter-spacing: 2px;
    margin-bottom: 80px;
    font-weight: 600;
}
.imge {
    margin-bottom: 41px;
    margin-left: 20px;
}
.join-free {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    padding: 10px 31px;
    border-radius: 28px;
    border: none;
    background: #F0CE49;
    color: #333232;
    letter-spacing: 0px;
    line-height: 24px;
}
.headind {
    text-align: center;
    margin: 90px auto 20px;
}
.headind h2 {
    color: #7EC7BC;
    font-size: 30px;
    line-height: 42px;
    font-family: 'Raleway', sans-serif;
    margin: 0 30px;
    letter-spacing: 1px;
    margin-bottom: 3px;
    font-weight: 600;
}
.responsive-nav {
    position: fixed;
    width: 220px;
    min-height: 100%;
    height: 100%;
    background: #56BE7F;
    right: 0;
    top: 0;
    z-index: 99999;
    margin-right: -220px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.open-nav{
    margin-right: 0px;
     -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.close img {
    width: 20px;
}
.close {
    float: right;
    opacity: 0.8;
    filter: alpha(opacity=20);
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.responsive-nav ul {
    margin-top: 10px;
    padding: 0;
    clear: both;
}
.responsive-nav li {
    display: block;
    list-style: none;
}
.responsive-nav li a {
    font-size: 15px;
    border-bottom: 1px solid #F8F8F8;
    margin: 0;
    padding: 5px 20px;
    line-height: 44px;
    text-transform: uppercase;
    color: #fff !important;
    display: block;
    white-space: nowrap;
}
.buttons i {
    color: #56BE7F;
    border: 2px solid #56BE7F;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 24px;
    padding: 1px 3px;
    font-size: 21px;
    border-radius: 5px;
    float: right;
    margin: 16px 0;
    display: none;
    cursor: pointer;
}
#about-us {
    background: url(../images/background.jpg);
    width: 100%;
    height: 893px;
}
#about-us .headind p {
    color: #5A5757;
    font-size: 15px;
    line-height: 28px;
    font-family: 'Raleway', sans-serif;
    margin: 0 0px;
    letter-spacing: 1px;
    margin-bottom: 27px;
    font-weight: 400;
}
#about-us .headind img{
    margin-bottom: 23px;
}
.join-free.about {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding: 11px 45px;
    border-radius: 28px;
    border: none;
    background: #53C27F;
    color: #fff;
    line-height: 20px;
}
.food-content img {
    max-height: 57px;
    min-height: 57px;
    margin-bottom: 19px;
}
.yellow-line {
    background: url(../images/stip.png);
    width: 100%;
    height: 167px;
    margin-top: 175px;
}
.food-space1 {
    background: url(../images/foodspace.png);
    width: 100%;
    height: 360px;
    background-repeat: no-repeat;
    margin: -97px 0 0 0;
    position: relative;
    background-position: center;
}
.food-space2{
    background: url(../images/postspace.png);
    width: 100%;
    height: 360px;
    background-repeat: no-repeat;
    margin-top: -97px;
    position: relative;
    background-position: center;
}
.food-space3{
    background: url(../images/deedspace.png);
    width: 100%;
    height: 360px;
    background-repeat: no-repeat;
    margin-top: -97px;
    position: relative;
    background-position: center;
}
.food-space1::before {
    position: absolute;
    width: 19px;
    height: 224px;
    content: '';
    z-index: 99;
    background: url(../images/saidow-R.png);
    top: 30px;
    right: 1px;
    opacity: 0.7;
}
.food-space2::before{
   position: absolute;
    width: 19px;
    height: 224px;
    content: '';
    z-index: 99;
    background: url(../images/saidow-R.png);
    top: 30px;
    right: 0px;
    opacity: 0.7;
}
.food-space3::before{
   position: absolute;
    width: 19px;
    height: 224px;
    content: '';
    z-index: 99;
    background: url(../images/saidow-R.png);
    top: 30px;
    right: 2px;
    opacity: 0.7;
}

.food-space1:after{
   position: absolute;
    width: 19px;
    height: 224px;
    content: '';
    z-index: 99;
    background: url(../images/saidow-L.png);
    top: 30px;
    left: 2px;
    opacity: 0.7;
}
.food-space2:after{
   position: absolute;
    width: 19px;
    height: 224px;
    content: '';
    z-index: 99;
    background: url(../images/saidow-L.png);
    top: 30px;
    left: 1px;
    opacity: 0.7;
}
.food-space3:after{
   position: absolute;
    width: 19px;
    height: 224px;
    content: '';
    z-index: 99;
    background: url(../images/saidow-L.png);
    top: 30px;
    left: 2px;
    opacity: 0.7;
}
.food-content {
    text-align: center;
    padding: 75px 60px 20px;
}
.food-content h2 {
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 32px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}
.food-content p {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 31px 16px 14px 20px;
    line-height: 26px;
}

#top-stories{
    background: url(../images/background3.jpg);
    width: 100%;
    height: 604px;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
}

#top-stories::before {
    content: '';
    position: absolute;
    bottom: 99%;
    height: 20px;
    width: 100%;
    z-index: 99;
    background: url(../images/lines.png);
}
#top-stories::after {
    content: '';
    position: absolute;
    top: 98%;
    height: 20px;
    width: 100%;
    z-index: 99;
    background: url(../images/strip2.png);
}
.frame {
    background: url(../images/frame.png);
    width: 100%;
    height: 420px;
    padding: 49px;
    background-repeat: no-repeat;
    margin: 104px 0;
}

#top-stories .right-side h2 {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 19px;
    text-transform: uppercase;
}
.right-side {
    margin: 160px 0;
}

.border-btom {
    max-width: 8%;
    margin: 14px 0 14px 5px;
    background: #f0ce49;
    height: 4px;
    border-radius: 8px;
}
#top-stories .right-side p {
    color: #fff;
    font-size: 15px;
    line-height: 28px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 24px;
    font-weight: 400;
    padding: 0 5px;
}

#top-stories .right-side .join-free {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding: 10px 47px;
    border-radius: 28px;
    border: none;
    background: #F0CE49;
    color: #333232;
    letter-spacing: 1px;
    line-height: 24px;
    margin-left: 15px;
}
.owl-pagination {
    text-align: right;
}
#our-vision {
    background: url(../images/background4.jpg);
    width: 100%;
    height: 623px;
}
#our-vision h2 {
    color: #46C8D7;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
#our-vision .border-btom {
    margin: 18px 0;
    max-width: 8%;
    background: #46C8D7;
    height: 4px;
}
.frame2{
    background: url(../images/frame2.png);
    width: 100%;
    height: 420px;
    padding:45px;
    background-repeat: no-repeat;
    margin: 94px 0;
    position: relative;
    background-position: right;
}
.frame2 figure {
    position: absolute;
    right: 45px;
}
#our-vision ul {
    margin: 30px 0;
}
#our-vision ul li {
    margin-bottom: 34px;
    color: #000;
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 31px;
    position: relative;
    font-family: 'Raleway', sans-serif;
    line-height: 18px;
}
#our-vision ul li::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid #46C8D7;
    left: 3px;
    top: 3px;
    transform: rotate(50deg);
}
.left-side.owl-theme {
    margin: 110px 0;
}

footer{
    background: url(../images/footerbg.jpg);
    width: 100%;
}
.footer-list {
    margin: 60px 0;
}
.footer-list ul li {
    margin-bottom: 20px;
    line-height: 38px;
}
.footer-list ul li a{
    color: #fff;
    font-size: 15px;
}
.pos-reltve{
    position: relative;
}
.footer-form {
    position: absolute;
    top: -81px;
    z-index: 9;
}
#sub-footer {
    background: #000;
        position: relative;
}
.sub-footer-text {
    padding: 14px;
    text-align: center;
}
.sub-footer-text p {
    color: #fff;
    font-size: 14px;
    letter-spacing: 0px;
    margin: 5px 0 0 5px;
}
.footer-form{
    background: url(../images/footer-2.png);
    width: 100%;
    height: 392px;
    background-repeat: no-repeat;
    background-position: center;
}
.footer-form h2 {
    color: #fff;
    font-size: 23px;
    margin-bottom: 19px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin: 8px 0 30px 15px;
}
.text-box {
    width: 99%;
    padding: 10px 17px;
    color: #222;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 15px;
    line-height: 17px;
}
.footer-form fieldset {
    margin: 10px 0 18px;
}
.footer-form form {
    padding: 25px 38px 0;
}
.textarea {
    width: 99%;
    padding: 9px 17px 0px;
    color: #222;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    line-height: 16px;
}
.footer-form .join-free {
    width: 98%;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 22px;
    padding: 9px 35px;
    margin-top: 2px;
}
.subscribe-now.pull-right {
    width: 288px;
    height: 205px;
    background: url(../images/footer-image.png);
    margin-top: 20px;
    background-position: center;
}
.pull-right-img{
    float: right;
}
.back {
    background: #D9F0ED;
}

.subscribe-now.pull-right {
    padding: 25px;
    text-align: center;
}
.subscribe-now.pull-right h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 19px;
    font-family: 'Raleway', sans-serif;
}
.subscribe-now.pull-right fieldset {
    margin-bottom: 25px;
}
.subscribe-now.pull-right .text-box {
    width: 100%;
    padding: 6px 16px;
    color: #222;
    border: 1px solid #ccc;
    border-radius: 30px;
    line-height: 20px;
    text-align: center;
}
.subscribe-now.pull-right .join-free {
    width: 100%;
    line-height: 20px;
    font-size: 15px;
    padding: 8px 45px;
}
.subscrive-width ul {
    clear: both;
    margin-left: 20px;
}
.subscrive-width ul li {
    display: inline-block;
    margin-right: 50px;
    margin-top: 10px;
}
.subscrive-width ul li:last-child{
    margin-right: 0px;
}
.subscrive-width ul li a i {
    color: #ccc;
    font-size: 22px;
    margin-top: 2px;
}
/********login*page-css*******/
.padd0 {
    padding: 0px !important;
}
img.login-image {
    width: 100%;
}
div#login-content {
    margin-bottom: 100px;
}
.background-login {
    background: #fff;
    padding: 40px 31px 22px;
}
.background-login p {
    color: #555;
    line-height: 24px;
    font-size: 17px;
    margin-bottom: 5px;
    letter-spacing: 0px;
}
.background-login label {
    display: block;
    margin: 8px 11px;
    color: #555;
    line-height: 17px;
    font-size: 15px;
}
.background-login label a {
    margin-left: -2px;
    color: #555;
}
.background-login input.text-boxes {
    width: 100%;
    background: #F3F9F5;
    padding: 8px 15px;
    border: 1px solid #ccc;
    line-height: 19px;
    border-radius: 3px;
}
.background-login button.join-free {
    background: #59BA84;
    color: #FFF;
    width: 100%;
    line-height: 15px;
    font-size: 16px;
    letter-spacing: 1px;
}
.background-login fieldset{
    margin-bottom: 20px;
}
.already-account {
    margin-top: 10px;
}
form.login-form {
    margin: 33px 0 18px;
}
.inner-footer{
    margin: 20px 0;
}
.inner-footer ul li{
    margin-bottom: 5px;
}
.follow-us {
    margin: 35px 0;
    float: right;
}
.follow-us p{
    color: #fff;
font-size: 15px;
line-height: 22px;
margin-bottom: 10px;
}
.follow-us ul li{
    display: inline-block;
    margin: 0 40px 0 0;
}
.follow-us ul li:last-child{
    margin-right: 0px;
}
.follow-us ul li a i{ 
    color: #fff;
    font-size: 23px;
}
.newsletter {
    background: url(../images/nwesletter.png);
    width: 100%;
    height: 110px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -52px;
}
.footer-newsletter {
    position: relative;
}
.news-content {
    padding: 40px;
}
.news-content p {
    color: #333;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 8px 0;
}
.news-content button.news-button {
    background: #333;
    padding: 10px 50px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    line-height: 18px;
    color: #FFF;
}
::-webkit-input-placeholder {
   color: #a8a6a6;
}

:-moz-placeholder { /* Firefox 18- */
   color: #a8a6a6; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #a8a6a6; 
}

:-ms-input-placeholder {  
   color: #a8a6a6;  
}
/*******connection-viewed-section***********/
.left-sec {
    background: url(../images/mother-back-pro.jpg);
    padding: 20px;
    height: 529px;
    background-position: center;
    background-size: cover;
}
#conection-viewed {
    clear: both;
    overflow: hidden;
}

.mart30px{
    margin-top: 30px;
}
.martop25{
    margin-top: 25px;
}
.right-sec {
    background: url(../images/conection-viewed.jpg);
    width: 100%;
    height: 529px;
    position: relative;
    background-size: cover;
    background-position: center;
}
.right-sec.child-profile {
    background: url(../images/child-profile-back.jpg);
    width: 100%;
    height: 529px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 3%;
    background-size: cover;
}
.connect-wrap {
    text-align: center;
    vertical-align: middle;
    margin: 70px 0 20px;
}
.left-sec h1 {
    color: #232222;
    font-size: 24px;
    line-height: 35px;
    margin: 15px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}
.left-sec figure {
    width: 220px;
    height: 220px;
    margin: auto;
    position: relative;
}
.left-sec figure::before {
    position: absolute;
    z-index: 0;
    width: 10px;
    height: 17px;
    background: rgb(12, 229, 68);
    border-radius: 50%;
    content: '';
    bottom: 18px;
    right: 21px;
    border: 6px solid #F0CE49;
    padding: 10px;
}
.left-sec figure img {
    width: 100%;
    border-radius: 50%;
    background: #F5DD80;
    border: 10px solid #F5DD80;
}
.left-sec p{
    color: #333;
    font-size: 15px;
    line-height: 30px;
    margin: 10px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
}
.row.mart30px p {
    margin-top: 4px;
}
.tell-friend {
    background: #fff;
    padding: 10px 35px;
    border-radius: 25px;
    border: none;
    color: #8E9695;
    font-size: 14px;
}
.back-border {
    background: #fff;
    overflow: hidden;
    border-left: 6px solid #67B070;
    margin: 35px 0;
}
.back-border h4 {
    color: #525252;
    font-size: 15px;
    padding: 12px 10px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}
.back-border p{
    color: #555;
    padding: 12px 18px;
    font-size: 13px;
}


.icons-search i {
    background: #fff;
    width: 40px;
    height: 40px;
    line-height: 39px;
    text-align: center;
    color: #55AE5F;
    border-radius: 50%;
    font-size: 21px;
    margin-bottom: 15px;
    cursor: pointer;
    z-index: 9999;
}
.icons-search h3 {
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    z-index: 9999;
}
.icons-search p{
    color: #fff;
    font-size: 12px;
    line-height: 17px;
    font-family: 'Raleway', sans-serif;
    z-index: 9999;
}
.image-gallery-sec figure {
    position: relative;    
}
.image-gallery-sec figure img{
    cursor: pointer;
}
.item-box-connect {
    position: relative;
}
.icons-search {
    text-align: center;
}
/*.image-gallery-sec figure::before {
    position: absolute;
    width: 92%;
    height: 92%;
    content: '';
    background: rgba(81,170,88,0.8);
    margin: 10px;
    display: none;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    z-index: 99;
}*/
.icons-search {
    position: absolute;
    left: 50%;
    margin-left: -65px;
    top: 50%;
    margin-top: -55px;
    z-index: 999;
}
.img-hover-sec {
    position: absolute;
    background: rgba(94,170,88,0.9);
    width: 91%;
    height: 91%;
    margin: 10px;
    left: 0;
    top: 0;
    z-index: 9;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    opacity: 0
}
.item-box-connect:hover .img-hover-sec {
   opacity: 1;
}
.mar-botom15px{
    margin-bottom: 25px;
}
.banner-buttons ul li{
    display: inline-block;
    margin: 0 5px;
}
.like {
    padding: 8px 25px 8px;
    background: #56be7f;
    border-radius: 25px;
    border: none;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}
.like i{
    padding-right: 12px;
}
.banner-buttons {
    position: absolute;
    bottom: 20px;
    right: 12px;
}
.online {
    background: #fff;
    color: #484747;
    padding: 8px 25px !important;
}
.online i{
    color: #0bc855;
}
.responsive-nav img{
width: 28px;
height: 28px;
border-radius: 50%;
vertical-align: middle;
margin: 0 5px;
position: relative;
opacity: 0;
}
.close {
    opacity: 1;
    margin-right: 0px;
    background: url(../images/close.png);
    background-repeat: no-repeat;
}

/*.close a::before {
    position: absolute;
    content: '';
    width: 35px;
    height: 30px;
    background: url(../images/close.png);
    font-family: 'FontAwesome';
    color: #fff;
    opacity: 1;
    background-repeat: no-repeat;
}*/

.dropdowns {
    background: #56BE7F none repeat scroll 0% 0%;
    border-radius: 3px 3px;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 999;
    margin-top: 23px;
    display: none;
    width: 220px;
}
.dropdowns::before {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 5%;
    border: 10px solid transparent;
    border-bottom-color: #56BE7F;
}
.dropdowns ul li {
    list-style-type: none;
    text-align: left;
    width: 100%;
    margin-left: 0px !important;
    margin-right: 55px !important;
    padding: 5px 15px;
    border-bottom: 1px solid #fff;
}
.dropdowns ul li:last-child{
    border-bottom: none;
}
.dropdowns ul li a {
    color: #fff !important;
    line-height: 40px !important;
    margin: 0 14px !important;
    display: block;
}
.dropdowns ul li a i {
    font-size: 15px !important;
    color: #fff;
    padding-right: 10px !important;
}
.information h1 {
    margin-bottom: 15px;
    color: #555;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}
.information p {
    margin-bottom: 15px;
    color: #555;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
   letter-spacing: 1px;
}
.about-mother i {
    color: #fff;
    font-size: 38px;
    vertical-align: middle;
    margin: 4px 0 3px -3px;
}
.green-back {
    background: url(../images/10-Years-old.png) no-repeat;
    padding: 25px 0 5px; 
    margin-bottom: 100px;
    background-position: center;
    background-size:cover; 
    margin-top: 29px;
}
.about-mother h3 {
    margin-bottom: 8px;
    color: #fff;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 5px;
}
.about-mother p {
    color: #fff;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0px;
    line-height: 24px;
    margin-left: 5px;
}
.bodr-btom {
    border-bottom: 1px dashed #fff;
    padding-bottom: 10px;
    margin-bottom: 2px;
}
.about-mother {
    display: table-cell;
    vertical-align: middle;
    height: 72px;
}
.childrens-slider {
    background: #fff;
    padding: 8px 12px 15px;
    /* position: relative; */
    /* top: -100px; */
    left: 15px;
    margin-top: -80px;
}
.childrens-slider .item figure img{
    width: 100%;
}

.child-right ul li {
    margin-bottom: 10px;
}
.child-right ul li:last-child{
    margin-bottom: 0px;
}
.martop80px{
    margin-top: 150px;
}
.owl-pagination {
    text-align: right;
    display: block;
    position: absolute;
    left: 84%;
    right: -50px;
    bottom: -136px;
}
.owl-prev {
    position: absolute;
    top: 45%;
    left: -30px;
    height: 30px;
    font-size: 0px !important;
    position: absolute;
    background: transparent !important;
    opacity: 1 !important;
}
.owl-prev::before {
    position: absolute;
    width: 35px;
    height: 36px;
    content: '\f104';
    font-size: 30px;
    color: #AAA;
    font-family: 'FontAwesome';
    background: #fff;
    right: -22px;
    line-height: 32px;
    border: 1px solid #ccc;
}
.owl-next {
    position: absolute;
    top: 45%;
    right: -30px;
    height: 30px;
   font-size: 0px !important;
    position: absolute;
   background: transparent !important;
    opacity: 1 !important;
}
.owl-next::before {
    position: absolute;
    width: 35px;
    height: 36px;
    content: '\f105';
    font-size: 30px;
    color: #AAA;
    font-family: 'FontAwesome';
    background: #fff;
    right: 6px;
    line-height: 32px;
    border: 1px solid #ccc;
}
.childrens-slider .item {
    width: 217px;
    margin: auto;
}

.owl-prev:hover::before{
 background: #56be7f;
 color: #fff; 
 border: 1px solid #56be7f;     
}
.owl-next:hover:before {
 background: #56be7f;
 color: #fff; 
 border: 1px solid #56be7f; 
  }
  .child-right i{
    background: transparent;
    color: #fff;
  }

.text-boxes {
    width: 100%;
    background: #F3F9F5;
    padding: 7px 15px;
    border: 1px solid #ccc;
    line-height: 17px;
    border-radius: 3px;
}
.background-login.signup fieldset {
    margin-bottom: 10px;
}
.login-image.signup-img {
    max-height: 512px;
    object-fit: cover;
}

/*****step1-page-css-profile*****/
.profile-content fieldset {
    margin-bottom: 15px;
}
.profile-content {
    background: #fff;
    padding: 20px 25px 10px;
    border-bottom: 1px solid #ccc;
}
.profile-content label {
    display: block;
    margin: 8px 0;
    color: #555;
    line-height: 19px;
    font-size: 15px;
}
.profile-content h2{
    margin-bottom: 15px;
    color: #413F3F;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}
.profile-content h3 {
    margin-bottom: 15px;
    color: #413F3F;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
.profile-content select.text-boxes{
    background: #fff;
    color: #222;
}
.profile-content .textarea{
    width: 100%;
    background: #F3F9F5;
    padding: 8px 15px;
    border: 1px solid #ccc;
    line-height: 19px;
    border-radius: 3px;
}
.like.next.pull-right {
    padding: 10px 40px;
    background: #F0CE49;
    color: #222;
    font-weight: 600;
    font-size: 12px;
}
.upload-postion {
    margin: 30px 0;
}
.upload-postion p{
    margin-bottom: 20px;
}
.upload-file-button {
    background: url(../images/brows.png);
    width: 100%;
    background-repeat: no-repeat;
    max-width: 30%;
    overflow: hidden;
    height: 35px;
}
.upload-file {
    height: 35px;
    opacity: 0;
    cursor: pointer;
}
.profile-img img {
    border-radius: 5px;
    max-height: 150px;
    max-width: 150px;
    height: 150px;
    width: 150px;
    object-fit: cover;
}
#profile-page form {
    border: 1px solid #eceaea;
    border-radius: 3px;
    box-shadow: 0px 0px 2px #e1dbdb;
}
.profile-content.childre-many {
    background: #BFD3D0;
    border: 1px solid #ccc;
    padding: 28px 25px;
}
.profile-content.childre-many p {
    margin: 10px 0;
    color: #5D5959;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}
.top-heading p {
    margin: 15px 5px;
    color: #464444;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}
.top-heading p a{
    font-weight: 600;
}
.forgot-psswrd {
    margin: 0 80px;
    padding: 5px;
    text-align: center;
}
.forgot-psswrd i {
    width: 70px;
    height: 70px;
    background: #DEF2E4;
    line-height: 70px;
    font-size: 35px;
    text-align: center;
    border-radius: 50%;
    color: #8F8B8B;
    margin-bottom: 15px;
}
.forgot-psswrd h2 {
    margin: 15px 5px;
    color: #626060;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}
.forgot-psswrd p {
    margin: 18px 5px;
    color: #7E7D7D;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 26px;
}
.join-free.forgot {
    background: #59ba84;
    color: #fff;
    margin: 5px 0 0;
}
.forgot-psswrd .text-boxes{
    text-align: center;
    margin-bottom: 20px;
}

/******landing-page-form*******/
#landin-page-form {
    margin: 50px 0 75px;
    min-height: 375px;
}
#landin-page-form.register{
    margin: 50px 0 20px;
}
#landin-page-form .center {
    text-align: center;
}


.breadcrumb1 {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
    float: right;
}
.breadcrumb1 ul li {
    display: inline-block;
    margin-right: 10px;
    position: relative;
}
.breadcrumb1 ul li a {
    color: #363434;
    font-size: 12px;
    letter-spacing: 1px;
}
.breadcrumb1 ul li::before {
    position: absolute;
    content: '\f105';
    width: 15px;
    height: 12px;
    z-index: 9;
    font-family: 'FontAwesome';
    right: -20px;
    font-size: 15px;
    color: #424242;
}
.breadcrumb1 ul li:last-child{
    margin-right: 0px;
}
.breadcrumb1 ul li:last-child::before {
    display: none;
}
.breadcrumb {
    padding: 13px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #fff;
    border-radius: 4px;
    margin: 35px 0 10px !important;
    overflow: hidden;
    width: 100%;
    padding: 0px;
}
.breadcrumb ul li{
     display: inline-block;
    margin-right: 10px;
    position: relative;
    color: #555;
    padding:14px;
}
.tabel-content .table-responsive .table thead tr th {
    background: #fff;
    text-align: center;
    font-size: 12px;
    color: #393737;
    font-weight: 600;
    height: 45px;
    letter-spacing: 1px;
    border-right: 1px solid #ccc;
    vertical-align: middle;
    border-bottom: none;
}

.tabel-content .table-responsive .table thead tr th:last-child{
    border-right: none;
}
.tabel-content .table-responsive .table tbody tr td {
    background: #fff;
    text-align: center;
    font-size: 13px;
    height: 45px;
    vertical-align: middle;
    color: #0F0F0F;
    letter-spacing: 1px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #fff;
}
.tabel-content .table-responsive .table tbody tr td.font-style {
    font-weight: bold;
    font-style: italic;
}
.tabel-content .table-responsive .table tbody tr td:last-child{
    border-right: none;
}
.tabel-content .table-responsive .table tbody tr {
    height: 50px;
}
.tabel-content .table-responsive .table tbody tr:hover td{
    background: #f3f9f5;
}

.view a{
    color: #149B1A !important;
}
.create-new-page {
    width: 100%;
    padding: 15px 19px;
    background: #f0ce49;
    border-radius: 0px;
    color: #000;
    text-align: center;
    border: none;
      font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
}
.create-new-page a {
    color: #4B4949;
    margin: 0 auto;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
}
.forgot-psswrd.create-post {
    text-align: left;
    margin: 0px;
}
.forgot-psswrd.create-post .text-boxes, .forgot-psswrd.create-post .textarea {
    width: 100%;
    background: #F3F9F5;
    padding: 8px 15px;
    border: 1px solid #ccc;
    line-height: 19px;
    border-radius: 3px;
    margin-bottom: 0px;
    text-align: left;
}
.forgot-psswrd.create-post fieldset{
    margin-bottom: 15px;
}
.forgot-psswrd.create-post h2 {
    font-size: 15px;
    color: #222;
}
.forgot-psswrd.create-post h3 {
    font-size: 14px;
    color: #555;
}
.forgot-psswrd.create-post select{
    background: #fff !important;
    margin: 10px 0;
}
.btn.btn-default.join-free {
    padding: 8px 35px;
    text-shadow: none;
    border: 1px solid #f0ce49;
}
.forgot-psswrd.create-post .btn.btn-default.join-free:hover , 
.forgot-psswrd.create-post .btn.btn-default.join-free:active ,
.forgot-psswrd.create-post .btn.btn-default.join-free:focus{
    background: #f0ce49;
      border: 1px solid #f0ce49;
      color: #222;
      outline: none;
     outline: none;
     outline-offset: 0;
     box-shadow: none;
}
.forgot-psswrd.create-post .btn.btn-link {
    text-decoration: none;
    color: #555;
}
.forgot-psswrd.create-post .btn.btn-link:hover , .forgot-psswrd.create-post .btn.btn-link:active ,
.forgot-psswrd.create-post .btn.btn-link:focus{
    outline: none;
     outline: none;
     outline-offset: 0;
     box-shadow: none;
}
/*****comment-page-css*****/
.comments-section {
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
}
.comments-section h2 {
    font-size: 14px;
    color: #414040;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5px;
    font-family: 'Raleway', sans-serif;
}
.comments-section h2 span {
    color: #868181;
    font-weight: 300;
    padding: 0 5px 0 0;
    font-size: 13px;
    line-height: 26px;
}
.comments-section p {
    font-size: 13px;
    color: #6E6C6C;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
    line-height: 27px;
    font-family: 'Raleway', sans-serif;
}
.comments-section h3 {
    font-size: 14px;
    color: #5fbf84;
    font-weight: 600;
    letter-spacing: 1px;
     line-height: 26px;
    margin: 20px 0 10px;
    font-family: 'Raleway', sans-serif;
}
.comment-img figure img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #cbcbcb;
}
.imgarea {
    width: 10%;
}
.comnt-width{
    width: 72%; 
}
.col-lg-11.col-md-11.col-sm-11.col-xs-10.padd0.comnt-width {
    width: 88%;
}
.mymessage-heading {
    background: #fff;
    overflow: hidden;
}
.mymessage-heading h3 {
    font-size: 14px;
    color: #6D6D6D;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 26px;
    font-family: 'Raleway', sans-serif;
    padding: 9px 0;
}
.mymessage-heading ul{
    float: right;
}
.mymessage-heading ul li {
    display: inline-block;
    margin-right: 30px;
    padding: 15px 0;
}
.mymessage-heading ul li:last-child{
    margin-right: 0px;
}
.mymessage-heading ul li a{
    color: #555;
    font-size: 14px;
}
.mymessage-heading h2 {
    text-align: center;
    clear: both;
    background: #F3F9F5;
    padding: 15px;
    font-size: 16px;
    letter-spacing: 1px;
    border-top: 2px solid #ADC3BC;
    border-bottom: 1px solid #A9BBB5;
    margin-bottom: 25px;
}
.chat-section {
    padding: 15px;
}
.reciver-img {
    width: 50px;
    display: inline-block;
    margin-right: 12px;
    position: absolute;
    top:3px;
}
.reciver-img img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.write-message-sec {
    max-width: 100%;
    background: #81C8BD;
    border-radius: 15px;
    padding: 6px 12px 6px 5px;
    display: inline-block;
    width: 75%;
    margin-left: 55px;
    position: relative;
}
.write-message-sec::before {
    content: '';
    position: absolute;
    bottom: 100%;
    border: 13px solid transparent;
    border-right-color: #81C8BD;
    left: -21px;
    top: 8px;
}
.write-message-sec p {
    color: #fff;
    font-size: 12px;
    padding: 5px;
    line-height: 19px;
    font-weight: 600;
    letter-spacing: 0px;
}
.reciver {
    position: relative;
    clear: both;
}
.write-message-sec p.pull-right{
    margin-top: -23px;
    padding: 0;
}
.write-message-sec p span {
    font-size: 12px;
    padding-left: 15px;
    color: #307B6F;
    font-weight: 400;
}
.write-message-sec.senders p span {
    float: right !important;
    color: #5A9B91;
}
h4.today-chat {
    position: relative;
    text-align: center;
    margin: 15px auto;
    border: 1px dashed #ccc;
    border-radius: 25px;
    padding: 5px;
    max-width: 16%;
    color: #555;
    font-size: 14px;
    background: #fff;
}
.today-line {
    position: relative;
    clear: both;
}
.today-line::before{
    position: absolute;
    width: 100%;
    height: 5px;
    border-bottom: 1px dashed #ccc;
    content: '';
    top: 10px;
}


.sender-img {
    width: 50px;
    display: inline-block;
    margin-left: 0px;
    position: absolute;
    top: 3px;
    right: -12px;
}
.sender-img img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.write-message-sec.senders {
    max-width: 100%;
    background: #E6F4F2;
    border-radius: 15px;
    padding: 6px 12px 6px 5px;
    display: inline-block;
    width: 75%;
    margin-right: 55px;
    position: relative;
    float: right;
    margin-bottom: 25px;
}
.write-message-sec.senders::before {
    content: '';
    position: absolute;
    bottom: 100%;
    border: 13px solid transparent;
    border-left-color: #E6F4F2;
    top: 7px;
    left: 99.2%;
}
.write-message-sec.senders p {
    color: #555;
    font-size: 12px;
    padding: 5px;
    text-align: left;
    max-width: 100%;
    line-height: 19px;
}
.sender {
    position: relative;
    clear: both;
}
.write-message-sec.senders p.left-right{
    margin-top: -18px;
    padding: 0;
}
.write-message-sec.senders p.pull-left span{
    font-size: 12px;
    padding-right: 15px;
}
.write-section {
    clear: both;
    background: #F3F9F5;
    padding: 10px;
}
.input-write-message-sec {
    position: relative;
}
input.text-box-chat {
    width: 100%;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #CEDCD3;
    padding-right: 100px;
    line-height: 18px;
}
.send-button {
    position: absolute;
    right: 14px;
    top: 4px;
}
.send-button ul li {
    display: inline-block;
    padding-right: 0px !important;
    padding: 0;
    margin-right: 0px;
}
.send-button ul li a i {
    color: #E4E4E4;
    font-size: 23px;
    border-right: 1px solid #E4E4E4;
    padding: 0 10px;
}
.send-button ul li:last-child {
    padding-right: 0px !important;
    border-left: 1px solid #ccc;
}
.send-button ul li:last-child i {
    padding-right: 0px;
    border-right: none;
    color: #59BA84;
    font-size: 20px;
}

/******account-setting-pages******/
.navigation-tab-part ul li {
    clear: left;
    width: 100%;
    position: relative;
    padding-left: 39px;
    line-height: 12px;
    padding-bottom: 7px;
    padding-top: 7px;
}
.navigation-tab-part ul li:hover{
    background: #F3F9F5;
}
.navigation-tab-part ul li:hover a{
     color: #80CB9C;
}
.active-tab{
    background: #F3F9F5;
    color: #80CB9C;
}
.active-tab a{
    color: #80CB9C !important;
}
.navigation-tab-part ul li::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background: #56BE7F;
    left: 0px;
    z-index: 99;
    top: 20px;
    margin-left: 15px;
}
.navigation-tab-part ul li a {
    color: #868484;
    font-size: 12px;
    letter-spacing: 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    display: block;
    padding: 12px 0;
}
.navigation-tab-part ul li:last-child{
    margin-bottom: 0px;
}
.navigation-tab-part {
    padding: 13px 0px 0px 0px;
    background: #fff;
}
.min-heights{
    min-height: 450px;
}
.tabs-white-back{
    background: #fff;
}
.tabs-top-heading h2 {
    color: #6F6F6F;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    padding: 17px;
    border-bottom: 1px solid #E8E8E8;
    line-height: 14px;
}
.tabs.accounts-settngs {
    margin: 22px 15px;
}
.tabs.accounts-settngs ul li {
    width: 50%;
    text-align: center;
}
.nav-tabs > li > a {
    line-height: 1.42857143;
    border: 2px solid #56BE7F;
    border-radius: 0;
    margin: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 14px;
    color: #3AA965;
}
.nav-tabs li:hover a{
    background: transparent;
    border: 2px solid #56BE7F;
    color: #3AA965;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #56BE7F;
    border: 2px solid #56BE7F;
    border-bottom-color: transparent;
    cursor: default;
    border-radius: 0px;
}
.tab-content {
    margin: 30px 0;
}
.changepsswrd-tabs {
    text-align: center;
    padding: 15px 0 16px;
}
.changepsswrd-tabs img {
    width: 165px;
    height: 165px;
    border-radius: 50%;
}
.border-bottom-dashed {
    border-bottom: 1px dashed #D4D2D2;
    overflow: hidden;
    margin: 0 15px;
    padding-top: 0px;
}
.border-right {
    border-right: 1px dashed #D4D2D2;
}
.changepsswrd-tabs h2 {
    color: #505050;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    padding: 8px 15px 3px;
}
.changepsswrd-tabs p {
    color: #505050;
    font-size: 13px;
    letter-spacing: 0px;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    margin-bottom: 0px;
}
.changepsswrd-tabs p a.unblock {
    color: #3D9660;
    font-weight: 600;
    font-size: 13px;
}
.changepsswrd-tabs p a.unblock i{
    font-size: 16px;
}
.border-bottom-dashed .border-right:last-child{
    border-right: none;
}
.change-password-form label {
    color: #4C4C4C;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 8px;
       font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.change-password-form fieldset{
    margin-bottom: 18px;
}
.change-password-form input.text-box {
    width: 100%;
    padding: 8px 10px;
    color: #222;
    border: 1px solid #C5D6CA;
    border-radius: 3px;
    font-size: 15px;
    background: #F3F9F5;
}
.change-password-form .like.next.pull-right {
    padding: 10px 35px;
    background: #F0CE49;
    color: #222;
    font-weight: 500;
    font-size: 13px;
}
.none-last{
    border-bottom: none;
}
.dashboard-img {
    margin-left: -14px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.content-show {
    position: relative;
    padding: 12px;
}
.img-sec img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.content-show {
    position: relative;
    padding: 30px 0;
    padding-left: 86px;
}
.img-sec {
    position: absolute;
    left: 0px;
    top: 12px;
}
.content-show p {
    font-weight: 500;
    font-size: 15px;
    color: #383737;
    letter-spacing: 1px;
}
.rights-buttons.pull-right {
    margin: 22px 15px;
}
input.like.next.accept {
    background: #F0CE49;
    color: #222;
    font-size: 12px;
    padding: 8px 23px;
    font-weight: 500;
    margin: 0 10px;
    border: 1px solid #F0CE49;
      font-weight: 600;
}
input.like.next.reject {
    background: transparent;
    color: #222;
    font-size: 12px;
    padding: 8px 23px;
    font-weight: 500;
    margin: 0 0px 0 10px;
    border: 1px solid #d4d1d1;
    font-weight: 600;
}
input.like.next.reject:hover{
    background: #c64731;
    border: 1px solid #c64731;
    color: #fff;
      font-weight: 600;

}
.connection-request-margn {
    margin: 0px 15px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    padding: 9px 0;
}
.marg15px{
    margin: 13px;
}
.img-section .upload-file-button {
    background: url(../images/brows.png);
    width: 100%;
    background-repeat: no-repeat;
    max-width: 60%;
    overflow: hidden;
    height: 35px;
    margin: auto;
}
.img-section img{
    width: 145px;
    height: 145px;
    border-radius: 3px;
    margin-bottom: 12px;
}
.img-section p{
    margin-bottom: 16px;
}
.img-section {
    text-align: center;
}

.login-pages {
    margin: 60px 0;
}
.create-child-page label {
    color: #4C4C4C;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 5px 0 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.create-child-page fieldset{
    margin-bottom: 22px;
}
.create-child-page input.text-box {
    width: 100%;
    padding: 8px 10px;
    color: #222;
    border: 1px solid #C5D6CA;
    border-radius: 3px;
    font-size: 15px;
    background: #F3F9F5;
}
.create-child-page select{
    background: #fff;
}
.create-child-page textarea{
    background: #F3F9F5;
    border-radius: 3px;
}
input.btn.btn-default.like.next{
    padding: 10px 40px;
    background: #f0ce49;
    color: #222;
    font-weight: 600;
    font-size: 12px;
}
.create-child-page input.btn.btn-default.like.next{
     background: #f0ce49;
      border: 1px solid #f0ce49;
      color: #222;
      font-weight: 500;
      font-size: 14px;
      padding: 8px 35px;
}
.create-child-page input.btn.btn-default.like.next:hover , 
.create-child-page input.btn.btn-default.like.next:active ,
.create-child-page input.btn.btn-default.like.next:focus{
        background: #f0ce49;
      border: 1px solid #f0ce49;
      color: #222;
      outline: none;
     outline: none;
     outline-offset: 0;
     box-shadow: none;
}
.create-child-page .btn.btn-link {
    text-decoration: none;
    color: #555;
}
.create-child-page.btn.btn-link:hover , .create-child-page .btn.btn-link:active ,
.create-child-page .btn.btn-link:focus{
    outline: none;
     outline: none;
     outline-offset: 0;
     box-shadow: none;
}
input.brows-file {
    border: 1px solid #ccc;
    background: #FFFFFF;
    padding: 8px 12px;
    width: 100%;
    height: 36px;
}
.create-child-page span.btn.btn-primary {
    background: #56BE7F;
    text-shadow: none;
    padding: 9px 30px;
    font-size: 14px;
    border: none;
    letter-spacing: 2px;
}
.create-child-page input.form-control {
    background: transparent;
}

.create-child-page h3{
    color: #505050;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}
/******MANAGE-PROFILE******/
.img-section.profile img {
    border-radius: 50%;
}
.tabs-top-heading {
    position: relative;
}
.edit-profile {
    position: absolute;
    top: 15px;
    right: 15px;
}
.edit-profile button {
    background: transparent;
    color: #000;
    letter-spacing: 1px;
    color: #0D9041;
    border: none;
    font-weight: 600;
    font-size: 12px;
}
.edit-profile button i{
    padding-right: 5px;
}
.create-child-page table.table tr td {
    margin-bottom: 15px;
    border-bottom: 1px solid #fff;
    height: 40px;
    position: relative;
    color: #555;
    line-height: 24px;
}
.create-child-page .table {
    width: 100%;
    margin-bottom: 20px;
    border-color: #fff;
    border-top: 2px solid #FFF;
}
.create-child-page table.table tr td:last-child{
    padding-left: 20px;
}
.create-child-page table.table tr td:last-child::before{
    position: absolute;
    content: ':';
    z-index: 99;
    width: 15px;
    height: 15px;
    left: 0px;
}
.create-child-page h3 {
    color: #6F6F6F;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 8px;
}

/******My-message-page-css********/
.my-message {
    background: #fff;
    overflow: hidden;
}
.mymessage-heading {
    background: #fff;
    overflow: hidden;
    border-bottom: 2px solid #EAEAEA;
    padding: 0 15px;
}
.my-message-img {
    display: inline-block;
    margin: 12px 0;
}
.my-message-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.name-heading {
    display: inline-block;
    margin-left: 10px;
}
.name-heading p {
    font-size: 13px;
    line-height: 18px;
    color: #7B7B7B;
}
.name-heading h3 {
    font-size: 16px;
    color: #5fbf84;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 6px 0 0px;
    font-family: 'Raleway', sans-serif;
}
.name-heading h3 a:hover{
    color: #299452;
}
.name-heading label {
    font-size: 12px;
    line-height: 20px;
    color: #BDB9B9;
    letter-spacing: 1px;
}
.my-message hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mymessage-left{
    width: 10%;
}
.mymessage-right{
    width: 90%;
    padding-left: 0;
}
.unread-message {
    background: #FAFDFB;
    padding: 15px 15px 0px;
}
.read-msg {
    background: #fff;
    padding: 15px;
}
/*****remove-page*****/
.removed {
    background: #fff;
    padding: 0px 0 15px;
    overflow: hidden;
}
.changepsswrd-tabs ul li{
    display: inline-block;
    margin-right: 10px;
}
.changepsswrd-tabs ul li:last-child{
    margin-right: 0;
}
p.green-icon.red a{
    color: #F96161;
}
/*****search-for-non-member*****/
.back-border.search {
    background: #fff;
    overflow: hidden;
    border-left: 6px solid #67B070;
    margin: 0px 0 30px;
}
section.image-gallery-sec.search-page .icons-search i{
    margin-bottom: 0px;
}
.refine-your-search {
    background: #fff;
    margin-bottom: 15px;
    overflow: hidden;
}
.refine-your-search h2 {
    font-size: 14px;
    color: #6DCE92;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 20px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding: 0 12px 0 0;
}
.refine-search-heading {
    padding: 12px 15px;
}
.refine-your-search h2::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 11px;
    background: #56BE7F;
    z-index: 99;
    left: -15px;
    top: 4px;
}
.refine-your-search h2::after {
    position: absolute;
    content: '';
    border-bottom: 2px solid #F1F0F0;
    width: 220px;
    height: 2px;
    z-index: 0;
    top: 8px;
    left: 100%;
}
.refine-your-search label {
    margin: 5px 0;
    color: #444;
    font-size: 13px;
    display: block;
}
.search-country-region {
    padding: 15px;
}
.refine-your-search select {
    margin: 5px 0;
    color: #444;
    font-size: 13px;
    background: #fff;
    height: 28px;
    width: 100%;
    padding: 4px;
    border: 1px solid #E0E0E0;
}
.refine-your-search fieldset {
    margin-bottom: 10px;
}
.refine-your-search input[type="checkbox"], .refine-your-search input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    vertical-align: sub;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    z-index: 99999;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.refine-your-search fieldset{
    position: relative;
}
 .refine-your-search fieldset span{
    padding-left: 20px;
}

.refine-your-search fieldset span::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 14px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 0px;
    background-color: #fff;
    top: 0px;
    border-radius: 2px;
    border:1px solid #ccc;
    cursor: pointer;
}
input[type="checkbox"]:checked + span::before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 17px;
    color: #f3f3f3;
    text-align: center;
    line-height: 12px;
    background: #56BE7F;
    border: 1px solid #56BE7F;
    border-radius: 3px;
}
 .refine-your-search span {
    color: #444;
    font-size: 13px;
}
.search-country-region.languge {
    height: 208px;
    overflow-y: scroll;
    overflow-x: hidden;
}
/*****subscription-plan-page-css*******/
.tabs-top-heading.center {
    text-align: center;
}
.row.plans {
    padding: 15px 30px;
}
.padd0.bordered {
    border: 1px solid #E0E0E0;
    text-align: center;
    border-bottom: 3px solid #81C8BD;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 15px;
}
.padd0.bordered:hover{
    border-bottom: 3px solid #F0CE49;
}
.padd0.bordered:hover .one-month-heading {
    background: #F0CE49;
}
.padd0.bordered:hover .one-month-heading h3 {
    color: #383737;
}
.padd0.bordered:hover button.purchase{
    background:#F0CE49;
    color: #383737;
    border: 1px solid #F0CE49;
}
.one-month-heading {
    background: #81C8BD;
    position: relative;
    padding: 10px 20px 0px;
}
.padd0.bordered:hover .one-month-heading::before{
    border-top: 15px solid #F0CE49;
}
.one-month-heading::before {
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-top: 15px solid #81c8bd;
}
.one-month-heading::after {
   /* position: absolute;
    z-index: 9;
    width: 112px;
    height: 35px;
    border-radius: 3px;
    top: 80%;
    background: #FFF;
    content: '';
    transform: rotate(14deg);
    left: -8px;*/
}
.one-month-heading h3 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.padd0.bordered h2 {
    color: #565656;
    /* font-family: 'Raleway', sans-serif; */
    font-size: 32px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 40px 15px;
}
.padd0.bordered h2 span{
    padding: 0 5px;
}
.padd0.bordered button.purchase {
    background: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    line-height: 18px;
    color: #5CADA0;
    border: 1px solid #81C8BD;
    border-radius: 25px;
    width: 80%;
    margin-bottom: 20px;
}
.paddr0{
    padding-right: 0px;
}
.col-md-test {
    width: 20%;
    float: left;
    border-right: 1px dashed #EAEAEA;
}
.col-md-test:last-child{
    border-right: none;
}
.row.padd15px {
    padding: 15px 30px;
}
.col-md-test .changepsswrd-tabs img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.col-md-test .changepsswrd-tabs figure i{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.col-md-test .changepsswrd-tabs h2 {
    color: #505050;
    font-size: 14px;
    font-weight: 400;
}
.changepsswrd-tabs.create img{
    cursor: pointer;
}
.col-md-test .changepsswrd-tabs p a.unblock {
    color: #64BD87;
}

/*****live-chat-page-css*********/

.live-chat {
   /* position: absolute;
    right: 30px;*/
    z-index: 99999;
    bottom: 5px;
}
.live-chat img{
    width: 30px;
    height: 30px;
    background: #ccc;
    border-radius: 50%;
    vertical-align: middle;
        margin-right: 6px;
}
.live-chat ul{
    background: #fff;
    padding: 12px;
       height: 305px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.live-chat ul li{
    position: relative;
    margin-bottom: 8px;
}
.live-chat ul li.online-now::before {
    position: absolute;
    z-index: 99;
    width: 6px;
    height: 6px;
    background: rgb(57, 197, 94);
    border-radius: 50%;
    content: '';
    padding: 5px;
    left: 22px;
    bottom: 0px;
}
.live-chat {
    position: fixed;
    right: 47px;
    z-index: 99999;
    bottom: 0px;
    background: #fff;
    overflow: hidden;
    width: 220px;
    margin-bottom: -342px;
    border-radius: 5px 5px 0 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}
.fix-chat-div {
    position: fixed;
    bottom: 0px;
    right: 48px;
}
.fix-chat-div ul {
    float: right;
    z-index: 999999;
    position: relative;
    clear: both;
}
.fix-chat-div ul li {
    display: inline-block;
    margin-left: 6px;
    width: 100%;
}
.fix-chat-div ul li a {
    color: #444;
}

.click-person {
    margin-bottom: 0px;
  /*  right: 280px;*/
}
.live-chat p {
    display: inline-block;
    font-size: 13px;
    padding: 12px 20px;
    color: #2F2F2F;
    cursor: pointer;
    white-space: nowrap;
}
 .border-btm{
    border-bottom: 1px solid #ccc;
 }
.border-btm ul li {
    display: inline-block;
    font-size: 10px;
    margin-right: 5px;
    margin-bottom: 0px;
    font-size: 14px;
    cursor: pointer;
    width: auto;
}

.border-btm ul li a i {
    font-size: 13px;
    border-radius: 2px;
    padding: 1px 2px;
    color: #484848;
}
.border-btm ul{
    float: right;
    background: transparent;
    padding: 0px;
    margin: 12px 7px;
       height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom: 2px;
}
.border-btm ul li::before{
        display: none;
}
.border-btm {
    border-bottom: 1px solid #ccc;
    background: #F0CE49;
}
/*.friends-btn {
    position: absolute;
    right: 15px;
    padding: 8px 35px;
    line-height: 12px;
    font-size: 14px;
    border: none;
    border-radius: 5px 5px 0 0;
    color: #000;
    bottom: 0;
    background: #fff;
}*/
.friends-btn::before {
    position: absolute;
    z-index: 99;
    width: 6px;
    height: 6px;
    background: rgb(57, 197, 94);
    border-radius: 50%;
    content: '';
    padding: 5px;
    left: 20px;
    bottom: 13px;
}
.live-chat-on{
    margin-bottom: 0px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}
.live-chat.click-person ul.chat-write li {
    position: relative;
    padding: 9px !important;
    background: #7EC7BC !important;
    border-radius: 5px;
    max-width: 82%;
    color: #fff;
    clear: both;
    display: block;
}
.live-chat.click-person ul.chat-write li::before {
    content: '';
    position: absolute;
    bottom: 100%;
    border: 10px solid transparent;
    border-right-color: #81C8BD;
    left: -16px;
    top: 6px;
}
.live-chat.click-person ul.chat-write li.right-your {
    text-align: right;
    float: right;
    width: 100%;
    background: #F0CE49 !important;
    color: #555;
    line-height: 16px;
}
.live-chat.click-person ul.chat-write li.right-your::before {
    content: '';
    position: absolute;
    bottom: 100%;
    border: 10px solid transparent;
    border-left-color: #F0CE49;
    left: 98%;
    top: 6px;
    z-index: 999999;
}
small.Name {
    color: #3E3E3E;
    font-weight: 600;
    display: block;
    top: 0px;
    font-size: 12px;
    margin-bottom: 3px;
    display: none;
}

.minimize{
    margin-bottom: -342px;
}
.live-chat.click-person , .live-chat.click-person1{
    display: none;
}
.search-box {
    position: relative;
    clear: both;
}
input.search-chat {
    width: 100%;
    background: transparent;
    border: none;
    border-top: 1px solid #F5F5F5;
    padding: 8px 15px;
    font-size: 14px;
    line-height: 17px;
    border-radius: 0px;
}
.search-icon {
    position: absolute;
    right: 10px;
    top: 7px;
}
.search-icon i{
    font-size: 20px;
    color: #ccc; 
    cursor: pointer;
}
.search-icon ul li {
    display: inline-block;
    margin-right: 2px;
    width: auto;
}
.search-icon ul li a i {
    font-size: 16px;
    padding-right: 5px;
    border-right: 1px solid #ccc;
}
.search-icon ul li:last-child i{
    padding-right: 0px;
    border-right: 0px;
    color: #56be7f;
}
.search-icon ul {
    /* background: #fff; */
    padding: 2px 8px;
    height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}
.removed .mymessage-heading {
    margin-bottom: 12px;
}
.image-gallery-sec.search-page .col-md-4.col-sm-4.col-xs-6.width-responve {
    margin-bottom: 15px;
}


#register-form .fieldgroup label.error {
    color: #FB3A3A;
    display: inline-block;
    margin: 4px 0 5px 125px;
    padding: 0;
    text-align: left;
    width: 220px;
}
.register.my-messages-chat .mymessage-heading {
    padding: 0 0px;
}
.posts .table-responsive .table{
    border: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
}
.posts .tabel-content {
    height: 385px;
    overflow-y: scroll;
}
.posts .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
    margin-bottom: 0px;
    border: none;
}
h2.headings {
    font-size: 19px;
    letter-spacing: 1px;
    color: #444343;
    font-family: 'Raleway', sans-serif;
    margin-top: 15px;
}
.childrens-slider p {
    font-size: 13px;
    margin-bottom: 12px;
    color: #444343;
    text-align: center;
    line-height: 18px;
    margin-top: 5px;
}
.row.texts {
    background: #D9F0ED;
    padding: 4px;
    margin: 0px 0px 15px;
}
.row.texts p label{
    line-height: 24px;
}
.smily-section {
    position: relative;
}
.smily-icons i{
    background: transparent;
    color: #888;
    font-size: 20px;
    width: auto;
    height: auto;
    line-height: 20px;
    cursor: pointer;
}
.smily-icons i, .smily-icons i, .emoji-picker-icon {
    background: transparent !important;
    color: #888 !important;
    font-size: 21px !important;
    width: auto !important;
    height: auto !important;
    line-height: 20px !important;
    cursor: pointer;
}
.smily-icons {
    position: absolute;
    right: 8px;
    bottom: -8px;
}
.childrens-slider .owl-pagination{
    display: none;
}
span.Stars i {
    color: #6D6D6D;
    font-size: 7px;
       vertical-align: super;
}
.col-md-7.crausels-top-mothrs {
    margin-left: -35px;
}
.col-md-5.padd0.login-left {
    width: 360px;
}
.col-md-7.padd0.login-right {
    width: 468px;
}
.like-content {
    padding: 15px;
    text-align: center;
}
.like-content p {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 25px;
}

.like-content .btn-default:hover, 
.like-content .btn-default:focus, 
.like-content .btn-default:active,
.like-content .btn-default.active, 
.like-content .open .dropdown-toggle.btn-default {
    color: #222 !important;
    background-color: #f0ce49 !important;
    border-color: #f0ce49 !important;
    background-image: none !important;
}
.like-content .btn:focus,
.like-content .btn:active:focus,
.like-content .btn.active:focus {
    outline: thin dotted;
    outline: none !important;
    outline-offset: -2px;
}
.paddl0{
    padding-left: 0px;
}
.col-md-12.information {
    margin: 15px 0;
}
.childsprofle {
    margin-top: 15px;
    margin-bottom: 184px;
}
.posrelatve{
    position: relative;
}
.childrens-slider.for-childs {
    position: absolute;
    width: 100%;
    top: -67px;
    padding: 8px 12px 10px;
}
.about-mother.child-lists {
    display: table-cell;
    vertical-align: middle;
    height: 63px;
}
.childsprofle .bodr-btom {
    border-bottom: 1px dashed #fff;
    padding-bottom: 0px;
    margin-bottom: 15px;
}
.childrens-slider.for-childs h2.headings {
    font-size: 22px;
    letter-spacing: 1px;
    color: #5F5C5C;
    font-family: 'Raleway', sans-serif;
    margin-top: 17px;
    font-weight: 600;
}
.childrens-slider.for-childs .childrens-slider p {
    margin-bottom: 30px;
}
.smily-section .emoji-wysiwyg-editor.textarea {
    height: 130px;
}
.btn-default:hover {
    background-image: none;
    background-image: none;
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff636565', endColorstr='#ff333434', GradientType=0);
    filter: none;
    border: none;
    background: #56be7f;
    text-shadow:none;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #56be7f;
    border-color: #56be7f;
}
.tabs-white-back {
    background: #fff;
    padding-bottom: 15px;
}
.greens{
    background: url(../images/10-Years-old.png);
    width: 100%;
    height: 100%;
    margin: 0px !important; 
    padding:50px 0 70px;
}