/******Responsive-Table-Css**********/

@media only screen and (max-width: 1024px)  {
    table, thead, tbody, th, td, tr {
            display: block;
        }
         Hide table headers (but not display: none;, for accessibility)  
       thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        .widthset{
    width: auto;
}
.tabel-content .table-responsive .table tbody tr td {
  text-align: right !important;
}
.table-responsive {
  border:none;
}
.tabel-content .table-responsive .table tbody tr {
    height: auto !important;
}
 .table thead tr th {
    background: transparent;
    color: #000;
    text-align: left;
    border: none;
    display: none;
}
 table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border-bottom-width: 0px;
    text-align: right !important;
    padding-right: 10px;
    padding-left: 50%;
    min-height: 15px;
    white-space: nowrap;
    background: transparent;

    }
   .table-bordered {
      border: none !important;
   }
   .table tbody tr {
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
  
  td {
          border: none;
          border-bottom: 1px solid #eee;
          position: relative;
          padding-left: 50% !important;
          text-overflow: ellipsis;
          overflow: hidden;
          text-align: right;
          white-space: nowrap;
      }
      td:before {    
        content: attr(data-title); 
      }
      td::before {
        position: absolute;
        top: 13px;
        margin: 0px 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: justify;
        border-right: 1px solid #ccc;
        max-width: 50%;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: left;
        color: #383838;
    }
      .well.total-quantity {
          padding: 0 !important;
          border: 1px solid #c9c1c1 !important;
          }
          }
      .table.table-bordered thead th {
        background: #2F2F2F !important;
        border: 1px solid #222;
        color: #ff0b0b;
        text-align: center;
       }
       .table.table-bordered .well {
          background: transparent !important;
       }
        .table-bordered {
            border: 1px solid #242222;
  }
